@CHARSET "UTF-8";

h1 {
	font-size: 4.0em;
}

.main-kanji-div {
	float: right;
	font-family: Hiragino Mincho Pro;
}

.main-kanji-span {
	font-size: 10.0em;
	background: #F7F7F7;
}

kanji-frame-table {
	width: 100%;
}

keyword-index-table {
	width: 100%;
}

keyword-heading-cell {
	text-align: right;
}